body {
  margin: 0;
  background-image: url(./assests/background.jpeg);
  background-repeat: no-repeat;
}
/* boilerplate code */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media only screen and (max-width: 600px) {
}
